<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.application.dao.UserDao">

    <select id="getUserById" parameterType="string" resultType="User">
        SELECT *
        FROM user
        WHERE ID = #{id}
    </select>

    <select id="getUserByUsername" parameterType="string" resultType="User">
        SELECT *
        FROM user
        WHERE username = #{username}
    </select>

    <select id="getUserByUnionId" parameterType="string" resultType="User">
        SELECT *
        FROM user
        WHERE union_id = #{unionId}
    </select>

    <insert id="insertUser" parameterType="User" flushCache="true">
        INSERT INTO user (id, username, password, status, type, name, create_datetime, last_login_datetime) VALUES
            (#{id}, #{username}, #{password}, #{status}, #{type}, #{name}, #{createDatetime}, #{lastLoginDatetime})
    </insert>

    <update id="updateUser" parameterType="User" flushCache="true">
        UPDATE user
        SET
            username            = #{username},
            password            = #{password},
            status              = #{status},
            type                = #{type},
            name                = #{name},
            create_datetime     = #{createDatetime},
            last_login_datetime = #{lastLoginDatetime}
        WHERE id = #{id}
    </update>

    <delete id="deleteUser" parameterType="string" flushCache="true">
        DELETE FROM user
        WHERE id = #{id}
    </delete>

    <update id="removeUser" parameterType="string" flushCache="true">
        UPDATE user
        SET
            status = '0'
        WHERE id = #{id}
    </update>

</mapper>